<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
     <meta charset="utf-8"/>
     <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}" />
     <title>Entry</title>
  </head>
  <body>
      
      {% if blog %}
      <div>
          
        <h1>{{ blog.title }}</h1>
          
        <h4>Published on {{ blog.pub_date_blog }} by {{ blog.author }}</h4>
          
        <p id="blogcontent">{{ blog.blog_content }}</p>
          
      </div>
      
      <h3><a href="{% url 'blog:index' %}">Back to home</a></h3>
      
      <h3 id="commenttitle">Comments</h3>
     
      {% for comment in blog.comment_set.all%}
      <div class="boxed">
          <h4>{{ comment.nickname }} ({{ comment.email_address }}) commented on {{ comment.pub_date_comment }}</h4>
          <p>{{ comment.comment_content }}</p>
      </div>
      {% endfor %}
      {% endif %}
      
      <h3>Leave a comment</h3>
    
      <form action="{% url 'blog:comment' blog.id%}" method="post">
          {% csrf_token %}
          <label for="Nickname">Nickname</label>
          <input type="text" id="Nickname" name="n"/>
          
          <label for="Email">Email Address</label>
          <input type="email" id="Email" name="e"/>  
          
          <br/>
          <textarea name="c" cols="73" rows="7">Comment Here</textarea>
          
          <input type="submit" value="Submit" />
      </form>      
      
  </body>
</html>