<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
     <meta charset="utf-8"/>
     <link rel="stylesheet" href="{% static 'blog/style.css' %}" />
     <title>Blog Home</title>
  </head>
  <body>
      <h1>Blog</h1>
      
      {% if latest_blog_list %}
      
        {% for blog in latest_blog_list %}
      
            <div>
                
                <h2><a href="{% url 'blog:entry' blog.id %}">{{blog.title}} by {{blog.author}}</a></h2>
                <p>{{blog.blog_content | truncatewords:200}}</p>
                {% for b in blogs %}
                    {% if b == blog %}
                        <p>{{b.number_of_comments}} comments</p>
                    {% endif %}
                {% endfor %}
            </div>
      
        {% endfor %}
      
      {% else %}
      
        <p>There are no blogs available</p>
      
      {% endif %}
      
      
        <h2><a href="{% url 'blog:archive' %}">Archive</a></h2>
      
  </body>
</html>